<!DOCTYPE html>
<html lang="en">
  <head>
<html>
<head>
      <link rel="icon" href="https://cdn.discordapp.com/avatars/672077307187429391/560c982e1dbebadfa7ede412a8bc21d5.png?size=1024" style="border-width: 50px;" type="image/x-icon" class="botuser">
<meta name="viewport" content="width=device-width, initial-scale=1">

    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404</title>
  

    <link rel="stylesheet" href="/404.css">    
  
  
  </head>
  <body>
    
 

<div class="container">
  <h1 class="first-four">4</h1>
  <div class="cog-wheel1">
      <div class="cog1">
        <div class="top"></div>
        <div class="down"></div>
        <div class="left-top"></div>
        <div class="left-down"></div>
        <div class="right-top"></div>
        <div class="right-down"></div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
  </div>
  
  <div class="cog-wheel2"> 
    <div class="cog2">
        <div class="top"></div>
        <div class="down"></div>
        <div class="left-top"></div>
        <div class="left-down"></div>
        <div class="right-top"></div>
        <div class="right-down"></div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
  </div>
 <h1 class="second-four">4</h1>
  <p class="wrong-para">Aradağın sayfayı ne yazıkki bulunmuyor ! / <a href="/">Anasayfaya geri dön</a></p> 


</div>
      

    
    
    
    
    


    
 <html>
<body>
<head>
          

